body{
	background-color: white;
	color: black;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serief;
	padding: 0px;
	margin: 0px;
}
.nav{
	background-color: cadetblue;
	color: white;
}
.nav ul{
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
.nav ul li{
	padding: 16px;
	text-align: center;
	font-size: 1.2em;
	border-bottom: 1px solid black;
	transition: background-color 0.2s;
}
.nav ul li:hover{
	background: black;
}
.image-area{
	background-image: url('background.png');
	background-color: black;
	background-position: center;
	background-size: cover;
	padding-top: 200px;
	padding-bottom: 200px;
}
.centred-container{
	max-width: 1020px;
	margin: 0px auto;
	padding: 0px 16px;
}
.image-text{
	text-align: center;
	background: black;
	color: white;
	font-size: 2.5rem;
}
.intro-text{
	color: grey;
	font-size: 1.5rem;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}
.single-service{
	text-align: center;
	margin-bottom: 32px;
}
.single-service p{
	padding: 0px 16px;
}
@media screen and (min-width: 700px){
	.nav ul{
		text-align: right;		
	}
	.nav ul li{
		display: inline-block;
		border-bottom: 0px;
		border-left: 1px solid black;
		text-align: right;
	}
	.single-service{
		width: 50%;
		float: left;
	}
}